
 body{
    background-color: #00ffff; 
    font-family: "Montserrat", sans-serif;      
}

.header{
    background-color: black;
    padding: 1px;
}
h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;   
} 
/*the container must be positioned relative:*/
.custom-select {
    
    position: relative;
    width:100%;
    text-align: center;
    padding-top: 70px;
    font-size: large;   
}
.Amount{
    margin-top: 50px;
   text-align: center;
   font-size: large;
} 
.From{
    padding-bottom: 20px;
}
.container{
    text-align: center;
    margin-top: 50px;
    font-size: large;   
}